form{
    background-color:wheat;
    border:1px solid black;
    width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
   
}


.group{
    display: flex;
    margin-bottom: 5px;
}

label{
    width: 150px;
}

.btn{
    display: flex;
    gap: 180px;
}